#Body_head
{
    margin-top: 100px;
    font-size: 1.4em;
    background: url(Images/prog.png) fixed no-repeat;
    opacity: 0.8;
}
div
{
    text-align: justify;
}
.card
{
    background-color: #dc3545;
}
.card img
{
    width: 128px;
    height: 128px;
}
footer ul li
{
    list-style-type: none;
}
footer ul li img
{
    width: 32px;
    height: 32px;
}
#contacts
{
    vertical-align: middle;
}
textarea
{
    height: 100px;
    width: 100%;
    border-radius: 3px;
    border-color: rgb(206, 209, 216);
}
textarea:focus
{
    color: #212529;
    border-color: #d6cacb;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.w-70
{
    width: 70% !important;
}
.w-15
{
    width: 15% !important;
}
.progress-text
{
    font-size: 1rem;
}
.progress
{
    height: 40px;
}